@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap");

:root {
  --background: #000017;
  --black: #000017;
  --dark-blue: #090c32;
  --purple: #fc00ff;
  --gradient: linear-gradient(131.68deg, #fc00ff 10.68%, #00fffc 85.93%);
  --card-fill-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.04) 48.96%,
    rgba(255, 255, 255, 0) 100%
  );
  --card-hover-fill-gradient: linear-gradient(
    335.52deg,
    #ff00ff 0%,
    #00ffff 100.91%
  );
  --hover-shadow-gradient: linear-gradient(
    179.82deg,
    #ff00ff 0.16%,
    #00ffff 97.8%
  );
  --gray-1: #494b5b;
  --gray-2: #99999c;
  --white: #fcfcfc;
  --green: #00c874;
  --red: #ff3939;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}

body {
  position: relative;
  box-sizing: border-box;
  background-color: var(--background);
  font-family: "Overpass";
  line-height: 1;
  scroll-behavior: smooth;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
}

/* Sections */
.m-horizontal {
  max-width: min(90%, 1250px);
  margin: 0 auto;
}

section:not(:last-of-type) {
  margin-bottom: 190px;
}

@media (max-width: 768px) {
  section:not(:last-of-type) {
    margin-bottom: 150px;
  }
}

/* Text */
.gradient-text {
  display: inline;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-image: var(--gradient);
}

.section-title {
  font-size: 48px;
  color: var(--white);
  font-weight: 700;
  line-height: 61px;
}

.section-description {
  font-size: 21px;
  color: var(--white);
  line-height: 27px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 51px;
  }

  .section-description {
    font-size: 18px;
    line-height: 23px;
  }
}

/* Buttons */
.btn-primary,
.btn-secondary,
.btn-tertiary {
  color: white;
  text-decoration: none;
  border-radius: 100px;
  padding: 15px 38px 12px;
  display: inline-block;
  position: relative;
}

.btn-primary:hover .shadow,
.btn-secondary:hover .shadow {
  opacity: 0.7;
}

.btn-primary {
  background: var(--gradient);
}

.btn-secondary {
  position: relative;
  border: 3px solid transparent;
  background: var(--background);
  background-clip: padding-box;
}

.btn-secondary::after {
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background: var(--gradient);
  content: "";
  z-index: -1;
  border-radius: 100px;
}

.btn-tertiary {
  border: 3px solid white;
}

/* Horizontal Rule */
.hr {
  width: 100%;
  height: 2px;
  background: var(--gradient);
}

/* Navbar */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 66px 5% 60px;
}

.logo {
  width: 120px;
  margin-right: 30px;
}

.navbar__list {
  list-style: none;
  display: flex;
  gap: 50px;
}

.navbar__link {
  color: var(--white);
  text-decoration: none;
}

.menu-btn {
  display: none;
}

.close-btn {
  display: none;
}

@media (max-width: 1200px) {
  .navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--background);
    display: grid;
    place-content: center;
    transform: translateX(100%);
    transition: all 0.6s cubic-bezier(0.5, 0, 0, 0.75);
    opacity: 0;
  }

  .navbar-open {
    transform: translateX(0);
    opacity: 1;
  }

  .navbar__list {
    flex-direction: column;
    text-align: center;
  }

  .navbar__link {
    font-size: 48px;
    font-weight: 700;
    display: inline;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: var(--gradient);
  }

  .header .btn-secondary {
    display: none;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    cursor: pointer;
  }

  .menu-btn > div {
    height: 2.5px;
    border-radius: 20px;
    background-color: var(--white);
    width: 35px;
  }

  .menu-btn > div:nth-child(2) {
    width: 25px;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 66px;
    right: 5%;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.5, 0, 0, 0.75);
    pointer-events: none;
    cursor: pointer;
  }

  .close-btn-open {
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: 1200px) and (max-height: 480px) {
  .navbar__list {
    gap: 30px;
  }
  .navbar__link {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .header {
    margin: 40px 5% 60px;
  }

  .close-btn {
    top: 40px;
  }
}

/* Cards */
.card-row-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 75px;
}

.border {
  border: double 2px transparent;
  border-radius: 15px;
  background-image: linear-gradient(var(--background), var(--background)),
    var(--gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.card {
  display: block;
  background: var(--card-fill-gradient);
  border-radius: calc(15px);
  text-align: center;
  min-height: 100%;
  position: relative;
}

.shadow {
  z-index: -1;
  background: var(--hover-shadow-gradient);
  transform: scale(1.02);
  filter: blur(20px);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.2s linear;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card:hover .shadow {
  opacity: 0.6;
}

.card__gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--card-hover-fill-gradient);
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.card:hover .card__gradient {
  opacity: 1;
}

.card__img {
  max-width: 100%;
  position: relative;
}

.card__text {
  padding: 0 22px 74px;
  position: relative;
}

.card__title {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 15px;
}

.card__description {
  color: var(--white);
  font-size: 21px;
  line-height: 27px;
}

@media (max-width: 1200px) {
  .card-row-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
    max-width: 760px;
    margin: 0 auto;
  }

  .card-row-3 .border:last-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: calc((min(100%, 760px) - 40px) / 2 - 4px);
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .card-row-3 {
    grid-template-columns: minmax(0, 1fr);
  }

  .card-row-3 .border {
    max-width: min(90%, 360px);
    margin: 0 auto;
  }

  .card-row-3 .border:last-of-type {
    grid-column-start: auto;
    grid-column-end: auto;
    max-width: min(90%, 360px);
  }

  .card:hover .card__gradient {
    opacity: 0;
  }

  .card__text {
    padding: 0 22px 60px;
  }

  .card__title {
    font-size: 32px;
    line-height: 41px;
  }

  .card__description {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 360px) {
  .card__text {
    padding: 0 22px 50px;
  }
}

/* Hero */
.hero__text {
  text-align: center;
}

.hero__text .section-title {
  margin-bottom: 5px;
}

.hero__text .section-description {
  margin-bottom: 72px;
}

.hero__text .btn-primary {
  margin-bottom: 30px;
}

.hero-image {
  width: min(100%, 530px);
  display: block;
  margin: 0 auto;
}

.stats {
  background: var(--card-fill-gradient);
  border-radius: 15px;
  display: flex;
  padding: 28px 6% 22px;
  justify-content: space-between;
  position: relative;
}

.stats:hover .shadow {
  opacity: 0.3;
}

.stats__item {
  text-align: center;
  max-width: 190px;
  margin: 0 auto;
}

.stats__title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 5px;
}

.stats__description {
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  line-height: 30px;
}

@media (max-width: 1200px) {
  .stats {
    padding: 28px 3% 22px;
  }
}

@media (max-width: 768px) {
  .hero__text {
    text-align: left;
  }

  .hero .section-title {
    margin-bottom: 10px;
  }

  .hero .section-description {
    margin-bottom: 30px;
  }

  .m-stats {
    max-width: min(90%, 360px);
    margin: 0 auto;
  }

  .stats {
    flex-direction: column;
    gap: 65px;
    padding: 36px 0;
  }
}

/* You Create. We Translate */
.you-create {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
}

.you-create .section-title {
  margin-bottom: 15px;
}

.you-create .section-description {
  margin-bottom: 44px;
}

.global-image {
  max-width: 70%;
  justify-self: end;
}

@media (max-width: 768px) {
  .you-create {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .you-create .btn-primary {
    display: none;
  }

  .global-image {
    justify-self: center;
  }
}

/* Why We Lead in Translations */
.lead-translations {
  text-align: center;
}

.lead-translations .section-title {
  margin-bottom: 15px;
}

.lead-translations .section-description {
  display: inline-block;
  max-width: 755px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .lead-translations {
    text-align: left;
  }

  .lead-translations .section-description {
    margin-bottom: 75px;
  }
}

/* Translating Content, It's Our Bread and Butter */
.bread-and-butter {
  background: var(--gradient);
  padding: 74px 0 90px;
  text-align: center;
}

.bread-and-butter .section-title {
  max-width: 550px;
  margin: 0 auto 15px;
}

.bread-and-butter .section-description {
  max-width: 560px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .bread-and-butter {
    padding: 61px 24px 62px;
  }
}

/* Content Creators We've Worked With */
.content-creators {
  text-align: center;
}

.content-creators .section-title {
  margin-bottom: 80px;
}

.creators {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 70px;
  margin-bottom: 117px;
}

.creators__logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.creators__name {
  color: var(--white);
}

@media (max-width: 768px) {
  .content-creators .section-title {
    margin-bottom: 50px;
  }

  .creators {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .content-creators .btn-primary {
    display: none;
  }
}

/* Our Translated Content */
.translated-content {
  text-align: center;
}

.translated-content .section-title {
  margin-bottom: 83px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 80px;
}

.videos__video {
  height: 327px;
  background: var(--card-fill-gradient);
}

@media (max-width: 1200px) {
  .videos {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .translated-content .section-title {
    margin-bottom: 50px;
  }

  .videos {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px;
  }
}

/* Start Generating AVIEW Today! */
.generate-aview {
  text-align: center;
}

.generate-aview .section-title {
  margin-bottom: 60px;
}

.generate-form {
  max-width: 800px;
  margin: 0 auto;
}

.label {
  color: var(--white);
  font-size: 21px;
  margin-bottom: 13px;
  display: block;
  text-align: left;
}

p.label {
  margin-bottom: 28px;
}

.input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 8px 15px 7px;
  font-size: 21px;
}

.generate-aview .input {
  background-color: var(--dark-blue);
  color: var(--white);
}

.generate-aview .input-border {
  margin-bottom: 40px;
  background: var(--gradient);
}

.generate-aview .btn-secondary {
  margin: 0 auto;
  display: inline-block;
}

/* FAQ */

/* Want To Go Global */
.go-global {
  background: var(--gradient);
  padding: 74px 0 90px;
  text-align: center;
}

.go-global .section-title {
  margin-bottom: 10px;
}

.go-global .section-description {
  margin-bottom: 50px;
}

.input-border {
  padding: 3px;
  background: var(--card-hover-fill-gradient);
  margin: 0 auto 10px;
  border-radius: 5px;
}

.go-global .input-border {
  max-width: 700px;
  width: 90%;
}

.go-global .input {
  background-color: var(--white);
}

.go-global__policy {
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .go-global .section-description {
    margin-bottom: 40px;
  }

  .go-global__policy {
    text-align: left;
    margin: 0 5% 40px;
  }
}

/* Footer */
.footer {
  margin: 117px 5% 89px;
}

.footer .hr {
  margin-bottom: 64px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__links {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.footer__link {
  color: var(--white);
}

@media (max-width: 768px) {
  .footer {
    margin: 117px 5% 30px;
  }

  .footer .hr {
    margin-bottom: 24px;
  }

  .footer__content {
    align-items: flex-start;
  }

  .footer__links {
    flex-direction: column;
    gap: 20px;
  }
}
